@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');

@theme {
  --font-mono: 'JetBrains Mono', ui-monospace, 'SFMono-Regular', Monaco, monospace;

  --color-bg-primary: #131B29;
  --color-text-primary: #F0F4F8;
  --color-text-secondary: #8698aa;
  --color-buy-quote: #00b15d;
  --color-sell-quote: #FF5B5A;
  --color-row-hover: #1E3059;
}

* {
  font-family: var(--font-mono);
}
